/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.switch {
  --switch-bg-color: #353535;
  --switch-thumb-color: #ffffff;
  --switch-focus-shadow-color: rgba(0, 0, 0, 0.25);

  width: 48px;
  height: 24px;
  background-color: var(--switch-bg-color);
  border-radius: 12px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
  
}

.switch.checked {
  background-color: #007aff;
}

.switch .thumb {
  width: 20px;
  height: 20px;
  background-color: var(--switch-thumb-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.switch.checked .thumb {
  transform: translateX(24px);
}

.switch:focus-visible {
  box-shadow: 0 0 0 2px var(--switch-focus-shadow-color);
  outline: none;
}

